/* ===============UNIVERSAL=================== */
body{
    margin: 0;
    font-family: work sans;
}
/* ===============HEADER================= */
.header{
    width: 100%;
    background-color: #FF900E1A;
}
/* =============NAVIGATION BAR============== */
.nav{
    display: flex;
    justify-content: space-around;
}
.navbar{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}
.navbar>a{
    text-decoration: none;
    color: black;

}
/* =============HEADER BACKGROUND============== */
.background{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background-details{
    text-align: center;
    margin: 0 20%;
    justify-content: center;
}
.background-btn{
    margin: 2% 40%;
    width: 160px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.primary-btn{
    width: 100%;
    height: 100%;
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
.background-img{
    display: flex;
    justify-content: center;
}
.background-img>img{
    margin-bottom: 2%;
    width: 80%;
}
/* ==============MAIN============= */
.container{
    display: flex;
    justify-content: center;
}
/* ==================QUICK FEATURES===================== */
.quick-feature{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 5%;
    align-items: center;
}
.q-f-photos{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 3%;
    justify-items: center;
    align-content: space-around;
}
.q-f-photos>img{
    width: 100%;
}
.q-f-details{
    width: 50%;
    text-align: justify;
    margin-left: 5%;
}
.q-f-details-tittle{
    font-weight: 300;
}
.q-f-details-part-one{
    font-weight: 700;
}
.q-f-details-part-two{
    font-weight: 700;
    color: #FF900E;
}
.q-f-details-btn{
    width: 160px;
    height: 40px;
}
/* =================PROJECTS==================== */
.project-area{
    display: flex;
    justify-content: center;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 5%;
    align-items: center;
}
.project-details{
    width: 100%;
    text-align: justify;
    margin-left: 5%;
    text-align: center;
}
.project-details>h2{
    font-size: 25px;
    font-weight: 600;
}
.project-photo>img:hover{
    filter: grayscale(100%);
}
.project-photo{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 3%;
    justify-items: center;
    align-content: space-around;
}
.house-img{
    width: 100%;
}
/* =================ALL FEATURES================= */
.all-feature{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
    align-items: center;
}
.f-details{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 5%;
    align-items: center;
    align-items: flex-start;
}
.f-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-left: 1%;
}
.side-design{
    height: 70px;
    width: 5px;
    color: #FF900E;
    background-color: #FF900E; 
}
.f-sub-tittle{
    padding-right: 2%;
}
.about-feature{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #a1a1a03d;
    margin-bottom: 2%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
}
.f-right{
    display: flex;
    justify-content: space-around;
    width: 50%;
    position: relative;
}
.f-photo{
    width: 90%;
    height: max-content;
}
.f-btn{
    position: absolute;
    bottom: -6%;
    left: -5%;
    height: 100px;
    width: 150px;
    transition: transform 3s ease-in-out ;
}
.f-right:hover .f-btn{
    transform: rotate(360deg) scale(0.5) translate(100%);
    transition: transform 0.5s ease-in; 
    transform-origin: top right;
}
#experience{
    font-size: 14px;
    font-weight: 200;
}
/* =========================SOME FACTS====================== */
.fact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
    align-items: center;
    margin-bottom: -5%;
}
.some-facts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 5%;
    align-items: center;
    align-items: flex-start;
}
.fact-box{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
}
.box{
    border: 1px solid #FF900E;
    margin: 15%;
    text-align: center;
    padding: 5%;
}
/* ========================SPONSORS======================= */
.sponsors-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
    align-items: center;
}
.sponsors{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 5%;
    align-items: center;
    align-items: flex-start;
}
.logos{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    margin-top: 2%;
    padding: 2%;
    filter: grayscale(100%);
}
/* ========================FOOTER====================== */
.footer-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
    align-items: center;
}
.footer{
    background-color: #FFF4E7;
    margin-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
}
/* ========================RESPONSIVE===================== */
@media screen and (max-width: 576px) {
    /* ===============HEADER================= */

    /* =============NAVIGATION BAR============== */
    .nav{
        align-items: center;
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    /* =============HEADER BACKGROUND============== */
    
    .background-details{
        margin: 0 5%;
    }
    .background-btn{
        margin: 5% 30%;
    }
    .background-img{
        display: flex;
        justify-content: center;
    }
    .background-img>img{
        margin-bottom: 5%;
        width: 95%;
    }
    /* ==============MAIN============= */
    .container{
        width: 100%;
        align-items: center;
    }
    /* ==================QUICK FEATURES===================== */
    .quick-feature{
        display: flex;
        flex-direction: column-reverse;
    }
    .q-f-photos{
        width: 100%;
    }
    .q-f-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 10%;
    }
    /* =================PROJECTS==================== */
    .project-photo{
        grid-template-columns: repeat(2, 2fr);
    }
    /* =================ALL FEATURES================= */
    .all-feature{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0%;
        align-items: center;
    }
    .f-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0%;
        align-items: center;
        align-items: center;
    }
    .f-left{
        flex-direction: column;
        width: 90%;
    
    }
    .side-design{
        height: 0%;
        width: 0%;
        color: white;
        background-color: white; 
    }
    .f-right{
        width: 80%;
        position: relative;
    }
    .f-photo{
        margin-top: 5%;
        width: 90%;
    }
    .f-btn{
        position: absolute;
        bottom: -6%;
        left: -5%;
        height: 100px;
        width: 150px;
    }
    #experience{
        font-size: 14px;
        font-weight: 200;
    }
    /* =========================SOME FACTS====================== */
    .some-facts{
        margin-top: 15%;
    }
    .fact-box{
        grid-template-columns: repeat(1,1fr);
    }
    .box{
        margin: 5%;
    }
    /* ========================SPONSORS======================= */
    .logos{
        grid-template-columns: repeat(3, 1fr);
    }
    .logos>img{
        width: 50%;
        margin: 10%;
    }
    /* ========================FOOTER====================== */
    .footer{
        background-color: #FFF4E7;
        text-align: center;
        margin-bottom: 10%;
    }
}

@media screen and (min-width: 577px){
    
}